/* HEADİNGS
weight:400,600;
font-family: 'Poppins', sans-serif;
*/
/* BODY
weight:400;
font-family: 'Open Sans', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-position: cover;
    font-size: 16px;
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
}
nav{
    margin: 30px 10px;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.right-section{
    padding: 40px;
}
.right-section h1{
    color: white;
    font-weight:600 ;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
}
.right-section p{
    color: white;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 25px;
    opacity: 80%;
}
.right-section a{
    text-decoration: none;
    padding: 10px 35px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(257, 40%, 49%);
    border-radius: 25px;
}
.right-section a:hover{
    background-color: hsl(300, 69%, 71%);
}
.social-icon{
    display: flex;
    gap: 10px;
    justify-content: end;
}
footer img{
    width: 32px;
    height: 32px;
    color: white;
}
@media screen and (max-width:968px ){
    .social-icon{
        justify-content: end;
    }
}
@media screen and (max-width:768px){
    .section{
        grid-template-columns: 1fr;
    }
    .right-section{
        grid-column: 1;
        text-align: center;
    }
    .social-icon{
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width:425px){
    .social-icon{
        width: 425px;
        justify-content: center;
        margin: 0 140px;
    }
}